<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EfixManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.cqjtu.api.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.cqjtu.api.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FixerRegister</display-name>
    <servlet-name>FixerRegister</servlet-name>
    <servlet-class>com.cqjtu.api.FixerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FixerRegister</servlet-name>
    <url-pattern>/FixerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FixerLogin</display-name>
    <servlet-name>FixerLogin</servlet-name>
    <servlet-class>com.cqjtu.api.FixerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FixerLogin</servlet-name>
    <url-pattern>/FixerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdate</display-name>
    <servlet-name>UserUpdate</servlet-name>
    <servlet-class>com.cqjtu.api.UserUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdate</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FixerUpdate</display-name>
    <servlet-name>FixerUpdate</servlet-name>
    <servlet-class>com.cqjtu.api.FixerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FixerUpdate</servlet-name>
    <url-pattern>/FixerUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSubmitOrder</display-name>
    <servlet-name>UserSubmitOrder</servlet-name>
    <servlet-class>com.cqjtu.api.UserSubmitOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSubmitOrder</servlet-name>
    <url-pattern>/UserSubmitOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FixerReceiveOrder</display-name>
    <servlet-name>FixerReceiveOrder</servlet-name>
    <servlet-class>com.cqjtu.api.FixerReceiveOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FixerReceiveOrder</servlet-name>
    <url-pattern>/FixerReceiveOrder</url-pattern>
  </servlet-mapping>
</web-app>